body {
	margin: 0;
	padding: 0;
	background: black;
	color: silver;
	font-family: "Gill Sans MT", "Gill Sans", Helvetica, Arial, sans-serif;
	line-height: 1.5;
}
h1 {
	background: white;
	margin: 0;
	padding: 40px 0 0 0;
	text-align: right;
	border-bottom: 2px solid gray;
	font-size: 100%;
}
h1 span {
	display: block;
	margin: 0 auto;
	width: 50%;
}
h2 {
	font-family: "Gill Sans MT Condensed", "Gill Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 400%;
	text-align: center;
	margin: 0.5ex 0 0 0;
	color: orange;
}
#body {
	margin: 0 auto;
	width: 50%;
}
code {
	color: orange;
}
